rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /workspaces/{wId}/attachments/{allPaths=**} {
      allow read: if request.auth != null && wId in request.auth.token.workspaces;
      allow write: if request.auth != null && wId in request.auth.token.workspaces;
    }
    match /labels/{allPaths=**} {
      allow read: if true; // public label PDFs if needed
      allow write: if request.auth != null;
    }
  }
}

